<header class="header__container">
  <div class="user_infos">
    <img
      src="https://media.licdn.com/dms/image/D4D03AQHaEYRqXcl0pw/profile-displayphoto-shrink_800_800/0/1684508173234?e=1706140800&v=beta&t=UK0d76CnkJOvDjEjj48x-IjAI6XkQjeGkqIEXlqu3b8"
      alt=""
    />
    <div>
      <h5>Eros Mariano</h5>
      <span>Online</span>
    </div>
  </div>

  <div class="chat_infos">
    <button>Profile</button>
    <button>Call</button>

    <div class="chat__icons">
      <button><img src="/assets/icons/search-black.svg" alt="" /></button>
      <button><img src="/assets/icons/dots.svg" alt="" /></button>
    </div>
  </div>
</header>
