<section class="chat__question">
  <ng-container *ngFor="let chat of dataChats; index as i">
    <div (click)="selectChat(i)" class="chat__question__container">
      <img src="{{ chat.image }}" alt="" />

      <div class="chat__question__texts">
        <div class="title_element">
          <h5>{{ chat.title }}</h5>
          <span>{{ chat.hour }}</span>
        </div>
        <div class="text_element">
          <span>{{ chat.description }}</span>
        </div>
      </div>
    </div>
  </ng-container>
</section>
