<aside class="aside__container">
  <div class="logo"><img src="assets/icons/logo.svg" alt="Logo" /></div>

  <nav>
    <ul class="aside__links">
      <li>
        <a href="#"><img src="assets/icons/email.svg" /></a>
      </li>
      <li>
        <a href="#"><img src="assets/icons/chat.svg" /></a>
      </li>
      <li>
        <a href="#"><img src="assets/icons/notify.svg" /></a>
      </li>
      <li>
        <a href="#"><img src="assets/icons/trash.svg" /></a>
      </li>
    </ul>
  </nav>

  <div class="aside__user">
    <img src="assets/icons/user.svg" alt="" />
  </div>
</aside>
