.chat__container {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
}

.chat__container input {
  border-radius: 100px;
  height: 40px;
  border: 1px solid #cecece;
  padding: 0 16px;
  outline: none;
  transition: .3s;
}
.chat__container input:focus{
  border: 1px solid #FE4C08;
}

.container_search {
  position: relative;
}
.container_search img {
  width: 20px;
  position: absolute;
  right: 16px;
  top: 9px;
}

.chat__container button{
  width: 40px;
  height: 40px;
  background-color: #FE4C08;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  cursor: pointer;
}
